@model GigHub.ViewModels.GigDetailsViewModel

<div>

    <h1>@Model.Gig.Artist.Name</h1>
    @if(User.Identity.IsAuthenticated)
    { 
        if (Model.IsFollowing)
        {
            <span class="label label-primary child"> Following</span>
        }
        else 
        {
            <span class="label label-default child">  Not Following</span>

        }
    }
    <p>
        Performing at <b>@Model.Gig.Genere.Name</b> on <b> @Model.Gig.DateTime.ToString("d MMM")</b> at <b> @Model.Gig.DateTime.ToString("HH:mm")</b>

    </p>
    @if (User.Identity.IsAuthenticated && Model.IsAttending)
    {
        <p> You are attending this party </p>
    }

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Gig.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
