@model GigHub.ViewModels.GigFormViewModel
@{
    ViewBag.Title = @Model.Heading;
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.ActionToBeCalled, "Gigs"))
{
    @Html.HiddenFor(e =>e.Id)

    <p class="alert alert-info">All Fileds are <strong >Required</strong> </p>
    //Anti Cross Site Request Forgery
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(e => e.Venue)
        @Html.TextBoxFor(e=>e.Venue,new { @class =  "form-control" , placeholder = "Enter Venue Name",autofocus = "autofocus" })
        @Html.ValidationMessageFor(e=>e.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(e=>e.Date)
        @Html.TextBoxFor(e=>e.Date,new { @class =  "form-control",placeholder= "eg => 31/01/2019 and > yesterday" })
        @Html.ValidationMessageFor(e=>e.Date)


    </div>
    <div class="form-group">
        @Html.LabelFor(e=>e.Time)
        @Html.TextBoxFor(e=>e.Time,new { @class =  "form-control", placeholder = "eg => 13:50" })
        @Html.ValidationMessageFor(e=>e.Time)

    </div>

    <div class="form-group">
        @Html.LabelFor(e=>e.Genere)
        @Html.DropDownListFor(m=>m.Genere,new SelectList(Model.Generes,"Id","Name"), "Select Venue", new { @class = "form-control" } )
        @Html.ValidationMessageFor(e=>e.Genere)

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
