<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Indie+Flower" rel="stylesheet">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Create A New gig", "Create", "Gigs")</li>
                    @*<li>@Html.ActionLink("Who IAm Following", "WhoIAmFollowing", "Gigs")</li>*@
                    <li>@Html.ActionLink("View My Comming Gigs", "ViewMyUpCommingGigs", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script type="text/myNotificationTemplate" id="notificationTemplate"> 
    @*<style>
        ul.notification > li:last-child {
            border-bottom: none;
        }
    </style>*@

        <ul style="list-style : none; padding-left: 0 ;">
            <%
            _.each(notificationArr,function(notification)
            {
                    if(notification.type == 1)
                    { %>
           
                        <li style="border-bottom : 1px solid #ddd; padding : 10px 0;">
                            <strong><%= notification.gig.artist.name %> </strong> has cancelled the gig in  <%= notification.gig.venue %>  at   <%= moment(notification.gig.dateTime).format("D MMM  HH:mm") %>
                        </li>         
                        <%
                    }
                    else if (notification.type == 2) 
                    {
                        var changes = [], originalValues = [], newValues = [];

                        if (notification.originalVenue != notification.gig.venue) 
                        {
                            changes.push('venue');
                            originalValues.push(notification.originalVenue);
                            newValues.push(notification.gig.venue);
                        }

                        if (notification.originalDateTime != notification.gig.dateTime) 
                        {
                            changes.push('date/time');
                            originalValues.push(moment(notification.originalDateTime).format("D MMM  HH:mm"));
                            newValues.push(moment(notification.gig.dateTime).format("D MMM  HH:mm"));
                        }
                    %>
            
                    <li> <strong><%= notification.gig.artist.name %> </strong> has changed the <%= changes.join(' and ') %> of the gig from <%= originalValues.join('/') %> to <%= newValues.join('/') %></li>
                    <%
                }
          });
                        %>
        </ul>

    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/Notification",
                function (notificationsArrFromApi) {
                    if (notificationsArrFromApi.length == 0)
                        return;
                    $('#iconNotifiy')
                        .text(notificationsArrFromApi.length)
                        .removeClass("hide")
                        .addClass("animated bounceInDown");//mandatory class - effect style
                    $(".notification").popover({ // settings of popover
                        html: true,
                        header: "Notifications",
                        content: function () {
                            //here to return the content
                            var template = _.template($("#notificationTemplate").html());// create a template  using a _.template,a method to return semi-template
                            var html = template({
                                notificationArr: notificationsArrFromApi
                            }); // set the value here .
                            return html;
                        },
                        placement: "bottom",
                        template: '<div class="popover popover-notification" role="tooltip">' +
                                    '<div class="arrow"></div>' +
                                    '<h3 class="popover-title"></h3>' +
                                    '<div class="popover-content"></div>' +
                                   '</div>'
                    });
                });

        });




    </script>

    @* use <% %> to write logic : loop ,if-else
        use <%= %> to assign value

    *@
</body>
</html>
