@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
 



<ul class="gigs voffset" style="list-style: none;  ">
    @foreach (var gig in Model.UpComingGigs)
        {
        <li style="position: relative;margin-bottom: 30px;">
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>

            <div class="details" style="position: absolute;top: 0;left: 100px;">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genere">
                    @gig.Genere.Name
                </span>
                @if (Model.IsAuthenticated)
        {
                <button gigId="@gig.Id" id="btnGoing" class="btn btn-default btn-sm pull-right" style="margin-left: 16px;">Going ?</button>

                <button FolloweeId="@gig.ArtistId" id="btnFollowing" class="btn btn-link btn-sm pull-right" style="margin-left: 16px;">Following ?</button>
                }

            </div>

        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#btnGoing").click(function (e) {
            debugger;
                $.post("/api/Attendece", { GigId: $(e.target).attr("gigId"), passedParam2: 1, passedParam3: "Hello Text" })

                .done(function () {
                    $('#btnGoing').text('Going').removeClass('btn-default').addClass('btn-success');
            })
                .fail(function (parameters) {
                    $('#btnGoing').text('Failed To Update').addClass('btn-danger');
            })

            });
            $("#btnFollowing").click(function (e) {
            debugger;
                $.post("/api/Following", { FolloweeId: $(e.target).attr("FolloweeId") })

                    .done(function () {
                        $('#btnFollowing').text('Following').removeClass('btn-default').addClass('btn-success');
            })
                    .fail(function (parameters) {
                        $('#btnFollowing').text('Failed To Update').addClass('btn-danger');
            })

            });
    });
    </script>

}
@* Getting Apr *@
@* Getting The Day => d + space  *@
@*use this link to enable zen coding https://bit.ly/2BIbJNF*@
@*(div.date>div.month +div.day)+(div.details>span.artist+span.genere) and press tab will be evaluate to below divs*@